.container.main-container
    .col-sm-6.col-sm-offset-3.jumbotron
        form
            .form-group
                label Username
                input.form-control(type='text', placeholder='username', ng-model="auth.username")
            .form-group
                label Password
                input.form-control(type='password', placeholder='Password', ng-model="auth.password")
            .form-group
                input(type="checkbox", ng-model="auth.isRegister")
                | &nbspRegister
            .form-group(ng-if="!auth.isRegister")
                button.btn.btn-primary(type="submit", ng-click="auth.login()") Login
            .form-group(ng-if="auth.isRegister")
                button.btn.btn-primary(type="submit", ng-click="auth.register()") Register